# ======================== Server Configuration ========================
server.port: 5601
server.host: "0.0.0.0"
server.name: "{{ kibana_server_name | default(ansible_hostname) }}"
elasticsearch.hosts: ["http://localhost:9200"]